<!--<p>
  product works!
</p>-->
<div class="product-wrapper">
  <div class="main-container">
    <div class="col-xs-12 col-sm-8 content-section">
      <div class="product-item">
        <img class="product-img" src="../../assets/Images/flower1.jpg" />
        </div>
      <div class="product-item">
        <img class="product-img" src="../../assets/Images/flower2.jpg"/>
        </div>
    </div>
    <div class="col-sm-4 hidden-xs side-navigation-section">
      <div class="formgroup">
        <label>UserName</label>
        <input type="text" ngModel name="userName">
      </div>
      <div class="formgroup">
        <label>Password</label>
        <input type="text" ngModel name="password">
      </div>
      <div class="">
        <button type="submit">Submit</button>
      </div>
    </div>
  </div>
</div>